backcall==0.1.0
colorama==0.4.3
decorator==4.4.1
flashtext==2.7
ipykernel==5.1.4
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.5.1
jupyter-client==5.3.4
jupyter-core==4.6.2
parso==0.6.1
pickleshare==0.7.5
prompt-toolkit==3.0.3
Pygments==2.5.2
pyjsparser==2.7.1
PyMySQL==0.9.3
pyzmq==18.1.1
traitlets==4.3.3
docx==0.2.4
